

<div class="hero-unit">
  <h3>Message Queue Connector Libary Example</h1>
  <div>
    <label>Server WebSocket URL:</label>
    <input ng-model="mqUrl">
    <button ng-disabled="connected" ng-click="connectToMQ()">Connect</button>
    <button ng-disabled="!connected" ng-click="disconnectFromMQ()">Disconnect</button>
  </div>
  <br>
  <div ng-show="connected">
    <label>Select an action:</label>
    <select ng-model="selectedAction"
            ng-change="addMQView(selectedAction)"
            ng-options="action.text for action in actions">
    </select><br>
  </div>  
  <div ng-repeat="view in mqViews" ng-include="view.url" onload="onMQViewLoad()"></div>
</div>

